<div>
    <h1>ADD A NEW TASK</h1>
   
    <table>
        <tr><td><input type="text" id="taskInput1" placeholder="Task  1" disabled>  </td></tr>
        <tr><td><input type="text" id="taskInput2" placeholder="Task  2" disabled>  </td></tr>
        <tr><td><input type="text" id="taskInput3" placeholder="Task  3" disabled>  </td></tr>
        <tr><td><input type="text" id="taskInput4" placeholder="Task  4" disabled>  </td></tr>
    </table>

    <button onclick="addTask()">Add Task</button>
   
   
    <div><button onclick="view()">View Tasks</button></div> 
</div>